.cache/
.vscode/
build*/
compile_commands.json
roms
*.ini
scraper
gbs2gb
wavs
./n64
rom.h

script.sh

3ds
android
dreamcast
emscripten
gamecube
n64
nds
ps1
ps2
ps3
ps4
psp
switch
vita
wiiu
xbox
xbox360

cmake/modules/nxdk
cmake/toolchain/android.cmake
cmake/toolchain/libdragon.cmake
cmake/toolchain/nxdk.cmake
cmake/toolchain/xenon.cmake

tools/scraper.py
